<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini ChatApp</title>
    <link rel="stylesheet" href="style.css" />
    <script>
      function confirmDelete(event) {
        const confirmation = confirm(
          "Are you sure you want to delete this chat?"
        );
        if (!confirmation) {
          event.preventDefault();
        }
      }
    </script>
  </head>
  <body>
    <h1>Mini ChatApp</h1>
    <h2>All Chats</h2>
    <form method="get" action="/chats/new">
      <button class="new-chat-button">New Chat</button>
    </form>
    <% for (let chat of chats) { %>
    <div class="chat">
      <p>From: <i><%= chat.from %></i></p>
      <p class="msg">Message: <%= chat.message %></p>
      <form method="get" action="chats/<%= chat._id %>/edit">
        <button class="new-chat-button">Edit</button>
      </form>
      <br />
      <form
        method="post"
        action="chats/<%= chat._id %>?_method=DELETE"
        onsubmit="confirmDelete(event)"
      >
        <button class="new-chat-button">Delete</button>
      </form>
      <p>To: <i><%= chat.to %></i></p>
      <hr />
    </div>
    <% } %>
  </body>
</html>
